Ejemplo de Notebook Jupyter

In [1]:
import pandas as pd

In [2]:
data_pais = {
    "pais": ["Brasil", "Mexico", "España", "Peru", "Colombia", "Venezuela"]
    , "capital": ["Brasilia", "Ciudad de México", "Madrid", "Lima", "Bogotá","Caracas"]
    , "superficie": [8.5, 1.9, 0.6, 0.4, 1.6, 0.9]}

Creamos un DataFrame con los datos de arriba y dibujamos el Dataframe

In [3]:
df = pd.DataFrame(data_pais)
df

        pais           capital  superficie
0     Brasil          Brasilia         8.5
1     Mexico  Ciudad de México         1.9
2     España            Madrid         0.6
3       Peru              Lima         0.4
4   Colombia            Bogotá         1.6
5  Venezuela           Caracas         0.9

Solo quiero ver la capital

In [4]:
df[["capital"]]

            capital
0          Brasilia
1  Ciudad de México
2            Madrid
3              Lima
4            Bogotá
5           Caracas